@model Kredek.Data.Templates.FullWidthBanner

@{
    string pathToImage;

    bool imgFromInternet = Model.BackgroundImageUrl.Contains("www.") || Model.BackgroundImageUrl.Contains("http");
    if (imgFromInternet)
    {
        pathToImage = $@"{Model.BackgroundImageUrl}";
    }
    else
    {
        pathToImage = $@"..\{Model.BackgroundImageUrl}";
        char oldLine = '\\';
        char newLine = '/';
        pathToImage = pathToImage.Replace(oldLine, newLine);
    }
}

<style>
    .responsiveBackgroundImage {
        background-image: url(@pathToImage);
    }
</style>

<div class="responsiveBackgroundImage bannerText">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>@Model.Text</h1>
            </div>
        </div>
    </div>
</div>