@{ 
    string hardcodedUrlToContactPage = "http://kredek.dce.pwr.edu.pl/pl/Contact";
    string backgroundImageUrl = @"../img/staticImages/bannerIntroFooter.jpg";
}
    <img src="" />
<style>
    #testId {
        background-image: url(@backgroundImageUrl);
    }

    #testId h2 {
        padding: 0px 0px 0px 0px !important;
    }
</style>

<br />

<div class="responsiveBackgroundImage align-middle" id="testId">
    <div class="container p-5">
        <div class="row text-center">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-3">
                <h2>Działamy dla Ciebie:</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-3 pb-0">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="btn btn-dark" href="https://facebook.com/KNKredek/">
                            <i class="fab fa-facebook"></i> Facebook
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-dark" href="@hardcodedUrlToContactPage">
                            <i class="fa fa-envelope fa-fw"></i> E-mail
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>