@model Kredek.Data.ViewModels.TextSeparatedByLineViewModel

@{
    string bannerTemplateId = "bannerTemplateId" + Model.ContentElementId;
    string pathToImage = $@"{Model.ImageUrl}";
    //string pathToImage = $@"..\{Model.ImageUrl}";
    //char oldLine = '\\';
    //char newLine = '/';
    //pathToImage = pathToImage.Replace(oldLine, newLine);
}

<style>
    #@bannerTemplateId {
        background-image: url(@pathToImage);
    }
</style>

<div class="responsiveBackgroundImage" id="@bannerTemplateId">
    <div class="text-center align-content-center">
        <h1>@Model.Title</h1>
        <hr />
        <h2>@Model.SubTitle</h2>
    </div>
</div>