@model Kredek.Data.Models.ContentElementTranslationTemplates.TextSeparatedByLine

<div class="responsiveBackgroundImage">
    <div class="row text-center align-content-center">
        <div class="col p-5">
            <h1>@Model.Title</h1>
            <hr />
            <h2>@Model.SubTitle</h2>
        </div>
    </div>
    <img width="250px" src="@Model.ImageUrl" alt="Alternate Text" />
</div>