@model Kredek.Data.Models.ContentElementTranslationTemplates.TextSeparatedByLine

@{
    string bannerTemplateId = "bannerTemplateId" + Model.ContentElementId;
}

<style>
    #@bannerTemplateId {
        background-image: url(@Model.ImageUrl);
    }
</style>

<div class="responsiveBackgroundImage" id="@bannerTemplateId">
    <div class="row text-center align-content-center">
        <div class="col p-5">
            <h1>@Model.Title</h1>
            <hr />
            <h2>@Model.SubTitle</h2>
        </div>
    </div>
</div>
