@model Kredek.Data.Models.ContentElementTranslationTemplates.TextSeparatedByLine

@{
    string bannerTemplateId = "bannerTemplateId" + Model.ContentElementId;
    string pathToImage;

    bool imgFromInternet = Model.ImageUrl.Contains("www.") || Model.ImageUrl.Contains("http");
    if (imgFromInternet)
    {
        pathToImage = $@"{Model.ImageUrl}";
    }
    else
    {
        pathToImage = $@"..\{Model.ImageUrl}";
        char oldLine = '\\';
        char newLine = '/';
        pathToImage = pathToImage.Replace(oldLine, newLine);
    }
}

<style>
    #@bannerTemplateId {
        background-image: url(@pathToImage);
    }
</style>

<div class="responsiveBackgroundImage" id="@bannerTemplateId">
    <div class="text-center align-content-center">
        <h1>@Model.Title</h1>
        <hr />
        <h2>@Model.SubTitle</h2>
    </div>
</div>