@page
@model Kredek.Pages.Contact.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="offset-3"></div>
        <div class="col-6">
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FromFirstName">
                                Imię
                                <strong style="color: crimson">*</strong>
                            </label>
                            <input asp-for="FromFirstName" type="text" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FromLastName">
                                Nazwisko
                                <strong style="color: crimson">*</strong>
                            </label>
                            <input asp-for="FromLastName" type="text" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="FromEmail">
                                Email
                                <strong style="color: crimson">*</strong>
                            </label>
                            <input asp-for="FromEmail" type="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="FromSubject">
                                Tytuł
                                <strong style="color: crimson">*</strong>
                            </label>
                            <input asp-for="FromSubject" type="text" class="form-control" placeholder="Please enter your subject *" required="required" data-error="Valid email is required.">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FromSubjectTag">
                                Please specify your need
                                <strong style="color: crimson">*</strong>
                            </label>
                            <select asp-for="FromSubjectTag" class="form-control" required="required" data-error="Please specify your need.">
                                <option value=""></option>
                                <option value="Tag 1">Tag #1</option>
                                <option value="Tag 2">Tag #2</option>
                                <option value="Tag 3">Tag #3</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="FromText">
                                Message
                                <strong style="color: crimson">*</strong>
                            </label>
                            <textarea asp-for="FromText" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success" value="Send message">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted">
                            <strong style="color: crimson">*</strong> Wymagane pola.
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>