@page
@model Kredek.Pages.Contact.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Contact</h1>

<form action="/" method="post">
    <h1>Henlo C: </h1>
    <button type="submit">
        Test
    </button>
</form>