@page
@model Kredek.Pages.Contact.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    <h1>
        <input type="submit" value="Henlo C:">
    </h1>
</form>