/* Templates - Responsive Background Image style
-------------------------------------------------- */

.responsiveBackgroundImage {
    display: block;
    max-width: 100%;
    margin: 0 calc(-50vm + 50%);
    background-color:red;
}