@page
@model Kredek.Areas.CMS.Pages.ContentElementTranslationManagement.ImageAndTextLeftManagement.EditModel

<h4>ImageAndTextLeft</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageAndTextLeft.ImageUrl" class="control-label"></label>
                <input asp-for="ImageAndTextLeft.ImageUrl" class="form-control" />
                <span asp-validation-for="ImageAndTextLeft.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageAndTextLeft.Text" class="control-label"></label>
                <input asp-for="ImageAndTextLeft.Text" class="form-control" />
                <span asp-validation-for="ImageAndTextLeft.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageAndTextLeft.Title" class="control-label"></label>
                <input asp-for="ImageAndTextLeft.Title" class="form-control" />
                <span asp-validation-for="ImageAndTextLeft.Title" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ImageAndTextLeft.ContentElementTranslationId" />
            <div class="form-group">
                <label asp-for="ImageAndTextLeft.ContentElementId" class="control-label"></label>
                <select asp-for="ImageAndTextLeft.ContentElementId" class="form-control" asp-items="ViewBag.ContentElementId"></select>
                <span asp-validation-for="ImageAndTextLeft.ContentElementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageAndTextLeft.LanguageId" class="control-label"></label>
                <select asp-for="ImageAndTextLeft.LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
                <span asp-validation-for="ImageAndTextLeft.LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
