@page
@model Kredek.Areas.CMS.Pages.WebsitePageTranslationManagement.EditModel

<h4>WebsitePageTranslation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WebsitePageTranslation.NameInNavigationBar" class="control-label"></label>
                <input asp-for="WebsitePageTranslation.NameInNavigationBar" class="form-control" />
                <span asp-validation-for="WebsitePageTranslation.NameInNavigationBar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsitePageTranslation.Title" class="control-label"></label>
                <input asp-for="WebsitePageTranslation.Title" class="form-control" />
                <span asp-validation-for="WebsitePageTranslation.Title" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="WebsitePageTranslation.WebsitePageTranslationId" />
            <div class="form-group">
                <label asp-for="WebsitePageTranslation.WebsitePageId" class="control-label"></label>
                <select asp-for="WebsitePageTranslation.WebsitePageId" class="form-control" asp-items="ViewBag.WebsitePageId"></select>
                <span asp-validation-for="WebsitePageTranslation.WebsitePageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsitePageTranslation.LanguageId" class="control-label"></label>
                <select asp-for="WebsitePageTranslation.LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
                <span asp-validation-for="WebsitePageTranslation.LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}