@model IndexModel

@foreach (var language in Model.Languages)
{

    <form asp-page-handler="ChangeLanguage" asp-route-language="@language" asp-route-pageName="@Model.CurrentPage.Name" method="post">
        @if (language == "en")
        {
        <img height="20" width="20" src="~/img/en.png" />
        }
        @if (language == "pl")
        {
        <img height="20" width="20" src="~/img/pl.png" />
        }
        <button >Set language to [@language]</button>
    </form>
    <br />
}
//class="btn btn-default"


<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</a>
        <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="#fr"> <img height="20" width="20" src="~/img/en.png" /> </span>  French</a>
            <a class="dropdown-item" href="#it"> <img height="20" width="20" src="~/img/en.png" /> </span>  Italian</a>
        </div>
    </li>
</ul>