@page "{language?}/{pageName?}"
@model IndexModel

@await Html.PartialAsync("Shared/HeaderAndFooter/_HeaderPartial", Model)

<div class="container-fluid p-0">
    <partial name="_CookieConsentPartial" />
    <main role="main">
        @await Html.PartialAsync("_ContentPartial", Model)

    </main>

    @await Html.PartialAsync("Shared/HeaderAndFooter/_FooterPartial")
</div>

@{
    ViewData["Title"] = Model.CurrentPageTranslation.Title;
}