@page "{language?}/{pageName?}"
@model IndexModel

@await Html.PartialAsync("Shared/HeaderAndFooter/_HeaderPartial", Model)

<div class="container-fluid p-0">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @await Html.PartialAsync("_ContentPartial", Model)

        <hr />

        <div class="container p-4">
            <h1> Development data:</h1>
            <div class="row">
                <h1> - [ @Model.CurrentPage.Name ] < - Current page </h1>
            </div>

            <div class="row">
                <h1> - <a asp-area="CMS"> CMS mode </a></h1>
            </div>

            <div class="row">
                <h2> - Our team link : <a href="https://localhost:44328/TestFeatures/OurTeam">click here</a></h2>
            </div>
        </div>
    </main>

    @await Html.PartialAsync("Shared/HeaderAndFooter/_FooterPartial")
</div>

@{
    ViewData["Title"] = Model.CurrentPageTranslation.Title;
}