@page "{language?}/{pageName?}"

@using Kredek.Data.Models.ContentElementTranslationTemplates
@model IndexModel

@await Html.PartialAsync("Shared/HeaderAndFooter/_HeaderPartial", Model)

<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">

        <h1 class="display-1"> [ @Model.CurrentPage.Name ] < - Current page </h1>
        <hr />

        <h1><a asp-area="CMS"> CMS mode </a></h1>

        <h1>Test features</h1>

        <h2>Our team link : <a href="https://localhost:44328/TestFeatures/OurTeam">click here</a></h2>

        <h2>Save images to wwwroot folder : <a href="https://localhost:44328/CMS/ImageSaver">click here</a></h2>

        @if (Model.CurrentPage.Name == "Home")
        {
            var testBlog = Model.CurrentPage.ContentElements;

            @*
                if (Model.CurrentPage.ContentElements.ElementAt(0).ContentElementTranslations.ElementAt(0) is Blogging modelBlog)
                {
                    @await Html.PartialAsync("Shared/PartialTemplates/_BlogPartial", (modelBlog, Model.FacebookService))
                }
            *@
        }
    </main>
</div>

@await Html.PartialAsync("Shared/HeaderAndFooter/_FooterPartial")

@{
    ViewData["Title"] = Model.CurrentPage.WebsitePageTranslations
        .Where(x => x.Language.ISOCode == Model.CurrentLanguage)
        .FirstOrDefault()
        .Title;
}