@page  "{pageName}"
@using Kredek.Models.Common.Emuns
@using Microsoft.EntityFrameworkCore.Internal
@model Kredek.Areas.CMS.Pages.ContentManagement.IndexModel

@{
    ViewData["Title"] = "AllElements";
}

<form method="post">
    <div class="form-group">
        <label class="control-label"> Wybierz stronę  </label>
        <select onchange="this.form.submit()" asp-for="WebsitePageId" class="form-control" asp-items="ViewBag.WebsitePageId"></select>
    </div>
</form>

<div class="row text-center">
    <div class="col">
        <h1 class="display-4">Treść na stronie [@Model.PageName] </h1>
    </div>
</div>

<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @* Position *@
                Pozycja
            </th>
            <th>
                @* Content type *@
                Typ szablonu
            </th>
            <th>
                Język
            </th>
            <th>
                Tłumaczenia
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contentElement in Model.PageContent)
        {
            foreach (var translation in contentElement.ContentElementTranslations)
            {
                var type = translation.GetType().ShortDisplayName();
                <tr>
                    <td>
                        @contentElement.Position
                    </td>
                    <td>
                        @type
                    </td>
                    <td>
                        @translation.Language.Name
                    </td>
                    <td>
                        <a asp-route-id="@contentElement.ContentElementId"
                           asp-page="/ContentElementTranslationManagement/@(type)Management/CreateForCurrentElement">
                            Dodaj nowe tłumaczenie
                        </a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<div class="row text-center">
    <div class="col-12">
        <br />
        <hr />

        <form method="get" asp-page="/ContentManagement/Create/TestCreate">
            <div class="form-group">
                <input type="hidden" name="id" value="@Model.WebsitePageId" />
                <label class="control-label"> Wybierz szablon </label>
                <select name="type" id="availableTemplates" class="form-control" asp-items="Html.GetEnumSelectList<AvailableTemplates>()"></select>

                <br />
                <button class="btn btn-light" type="submit"> Dodaj </button>
            </div>
        </form>
    </div>
</div>