@*<div class="container">

        <div class="text-center">
            <p class="display-1">
                Ciężko pracujemy,  aby ta strona działa.
            </p>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-4  col-xl-4 col-sm-12 mb-sm-5 mt-sm-5">
                    <img class="rounded-circle" src="http://www.cutecatgifs.com/wp-content/uploads/2016/10/giphy1.gif" />
            </div>

            <div class="col-lg-4 col-md-4  col-xl-4 col-sm-12 mb-sm-5 mt-sm-5">
                    <img class="rounded-circle" src="http://www.cutecatgifs.com/wp-content/uploads/2016/10/giphy1.gif" />
            </div>

            <div class="col-lg-4 col-md-4  col-xl-4 col-sm-12 mb-sm-5 mt-sm-5">
                    <img class="rounded-circle" src="http://www.cutecatgifs.com/wp-content/uploads/2016/10/giphy1.gif" />
            </div>
        </div>
    </div>*@