@using Kredek.Global
@model IndexModel

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/img/logo.png" style="height: 30px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        @{ 
                            var currentLink = $"{DefaultVariables.ThisWebsiteRootUrl}/{Model.CurrentLanguage}/{Model.CurrentPage.Name}";
                            var currentPageName = string.Empty;
                            var hasCurrentNavigationName = Model.Navigation[Model.CurrentPage.Name].TryGetValue(Model.CurrentLanguage, out currentPageName);
                        }
                        <a href="@currentLink" class="nav-link text-dark"> @currentPageName </a>
                    </li>
                    @foreach (var pageName in Model.Navigation.Keys.ToList())
                    {
                        <li class="nav-item">
                            @{
                                var link = $"{DefaultVariables.ThisWebsiteRootUrl}/{Model.CurrentLanguage}/{pageName}";
                                string navigationTabName = String.Empty;

                                bool hasNavigationName = Model.Navigation[pageName].TryGetValue(Model.CurrentLanguage, out navigationTabName);
                                if (!hasNavigationName)
                                {
                                    break;
                                }
                            }
                            <a href="@link" class="nav-link text-dark"> @navigationTabName </a>
                        </li>
                    }
                    @await Html.PartialAsync("Shared/_Languages")
                </ul>
            </div>
        </div>
    </nav>
</header>